body {
    background-color: lightgrey;
    font-size: 25px; 
}

h1 {
    font-size: 40px;
}

/* color refers to the text color, not the background */


p {
    color: red;
    background-color: lightblue;
    font-size: 30px;
    border: 5px dotted black;
    padding: 50px;
    text-align: center;
}

.special {
    background-color: burlywood;
}

.highlight {
    color:aquamarine;
}

img {
    width: 100%;
}